[submodule "packages/Selene-Placeholder-Package-2/module"]
	path = packages/Selene-Placeholder-Package-2/module
	url = https://github.com/qeffects/Selene-Placeholder-Package-2.git
[submodule "packages/Selene-Placeholder-Package/module"]
	path = packages/Selene-Placeholder-Package/module
	url = https://github.com/qeffects/Selene-Placeholder-Package.git
