[submodule "packages/json-lua/module"]
	path = packages/json-lua/module
	url = https://github.com/qeffects/json.lua.git
[submodule "packages/classic/module"]
	path = packages/classic/module
	url = https://github.com/qeffects/classic.git
[submodule "packages/batteries/module"]
	path = packages/batteries/module
	url = https://github.com/qeffects/batteries.git
